FIXEDLEN/FLENGTH.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="FLENGTH">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:initiator="[b]" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%#124;">
							<xsd:element dfdl:length="3" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="body_value1" name="ID" type="xsd:string"/>
							<xsd:element dfdl:length="6" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="body_value2" name="NAME" type="xsd:string"/>
							<xsd:element dfdl:length="8" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="body_value3" name="MOBILE" type="xsd:string"/>
                            <xsd:element dfdl:length="6" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="body_value4" name="LOC" type="xsd:string"/>
                            <xsd:element dfdl:length="5" dfdl:lengthKind="explicit" ibmDfdlExtn:sampleValue="body_value5" name="SALARY" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>