SOAP_TAXABLE/Tax_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Tax/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Tax/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="SOAP_TAX_IN">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="INDEXX" type="xsd:int"/>
          	<xsd:element name="ITEMM" type="xsd:string"/>
          	<xsd:element name="COST" type="xsd:string"/>
          	<xsd:element name="TAX" type="xsd:string"/>
          	<xsd:element name="TOTAL" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SOAP_TAX_OUT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>